[2022-03-24 16:26] Dhruvesh16 opened #1 "New maintainer"
## Device you want to apply for
[code]
Realme XT (RMX1921)
## Device tree sources

[code]
https://github.com/Dhruvesh16/device_realme_RMX1921.git
https://gitlab.com/Dhruvesh16/vendor_realme_RMX1921.git
https://github.com/Dhruvesh16/android_kernel_realme_RMX1921.git
## Link to the platform where you have released your unofficial build
[code]
Insert here
[code]
None
[code]

## SELinux status?
[code]

[2022-03-24 16:38] BasharatKar commented on #1
Is everything fine in ur build anything broken?

[2022-03-24 16:39] Dhruvesh16 commented on #1
Everything fine

[2022-03-24 17:11] thefaizanbashir commented on #1
You're accepted. Welcome to ProjectBlaze.

[2022-03-24 17:12] BasharatKar commented on #1
@thefaizanbashir Wah bete

[2022-03-24 17:12] thefaizanbashir commented on #1
Your trees are fine. Your commit history is descent. You're accepted, welcome to ProjectBlaze. @TechnoStartOfficial & @anupam41 @BasharatKar kindly get in touch

[2022-03-24 17:12] #1 closed, assigned to rockstar5495, anupam41, khirendra03, mrtechnostart, thefaizanbashir, BasharatKar, afterallafk

[2022-03-25 12:04] Dhruvesh16 commented on #1
Thank you

[2022-03-25 12:13] anupam41 commented on #1
@Dhruvesh16 This device have under display fingerprint scanner😭

[2022-03-25 15:41] sunil98025 opened #2 "New maintainer"
## Device you want to apply for
[code]
https://github.com/monu70152/android_kernel_asus_sdm660-1
https://github.com/monu70152/device_asus_X00TD
https://github.com/monu70152/device_asus_sdm660-common_snow
https://github.com/monu70152/vendor_asus_X00TD
[code]
Insert here
[code]
Arcana unofficial but not released yet but all ok in build
[code]
None
[code]
like 1 month 4 or 5 successful build of arcan

[2022-03-25 15:43] anupam41 commented on #2
@monu70152

[2022-03-25 15:43] sunil98025 commented on #2
Yes sir

[2022-03-25 15:45] BasharatKar commented on #2
I am seeing ur tree u don't have proper authorships

[2022-03-25 15:46] sunil98025 commented on #2
Ok

[2022-03-25 15:46] sunil98025 commented on #2
As I said I m still learning trying my best

[2022-03-25 15:46] BasharatKar commented on #2
I want u to give proper authorships

[2022-03-25 15:47] sunil98025 commented on #2
Giving from my side

[2022-03-25 15:47] sunil98025 commented on #2
But sometimes I mess tree that's why reverted

[2022-03-25 15:49] BasharatKar commented on #2
Please wait sometime until we discuss

[2022-03-25 15:49] sunil98025 commented on #2
Ok

[2022-03-25 15:49] sunil98025 commented on #2
Credit given or commit from my side not stolen

[2022-03-25 15:52] thefaizanbashir commented on #2
Man, fix your commit history. Are you making commits using browser?

[2022-03-25 15:55] sunil98025 commented on #2
Yes

[2022-03-25 15:56] sunil98025 commented on #2
That's why

[2022-03-25 15:56] BasharatKar commented on #2
Please fix your trees and give proper authorships so better luck next time

[2022-03-25 15:56] #2 closed, assigned to rockstar5495, anupam41, khirendra03, mrtechnostart, thefaizanbashir, BasharatKar, afterallafk

[2022-03-25 15:56] thefaizanbashir commented on #2
You don't know git @monu70152

[2022-03-25 15:57] sunil98025 commented on #2
I already said me learning

[2022-03-25 15:57] sunil98025 commented on #2
I didn't hidden that

[2022-03-25 15:57] sunil98025 commented on #2
Ok

[2022-03-25 15:58] afterallafk commented on #2
you know git?

[2022-03-25 15:58] thefaizanbashir commented on #2
@monu70152 pls learn some git stuff, @BasharatKar made the decision as you can see, YOU'RE REJECTED. You can try again after doing the suggested things :)

[2022-03-25 15:59] sunil98025 commented on #2
Ok will try next time

[2022-03-26 06:23] ItsAdityan opened #3 "New maintainer"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## SELinux status?
[code]

## Are you using a prebuilt kernel? If yes, why?
[code]

## Contact
### Tele

[2022-03-26 06:28] thefaizanbashir commented on #3
@ItsAdityan where is link to unofficial build?

[2022-03-26 06:28] afterallafk commented on #3
As far to concern you trees look fine to me @ItsAdityan

[2022-03-26 06:29] ghost commented on #3
Yes trees seems fine

[2022-03-26 06:30] thefaizanbashir commented on #3
I never said trees aren't good @afterallafk but where is link to unofficial build?

[2022-03-26 06:30] thefaizanbashir commented on #3
Trees are fine :)

[2022-03-26 06:33] thefaizanbashir commented on #3
Okay I'll tell my opinion, you can't apply for official without building unofficial first. Your trees look fine, but build unofficial first. Then attach link. For now it'll stay under review

[2022-03-26 06:44] afterallafk commented on #3
Accepted

[2022-03-26 06:46] #3 closed, assigned to rockstar5495, khirendra03, mrtechnostart, thefaizanbashir, BasharatKar, afterallafk

[2022-03-26 08:50] clhexftw opened #4 "Poco X3 pro maintainership request"
## Device you want to apply for : Poco X3 Pro
[code]

## Device tree sources

* Must be public on GitHub/GitLab
* Must add kernel and vendor as well
* Authorship should be proper
* Add common trees if applicable

https://github.com/clhexvayulab/android_device_xiaomi_vayu-blaze
https://github.com/clhexvayulab/kernel_xiaomi_vayu
https://github.com/clhexvayulab/android_vendor_xiaomi_vayu

## Link to

[2022-03-26 08:52] afterallafk commented on #4
https://github.com/clhexvayulab/android_device_xiaomi_vayu-blaze/commit/a3f1645543595de8aa1c47141fd9cb882785c225
Don't you think it's over volume?

[2022-03-26 08:53] rockstar5495 commented on #4
Have you already built unofficial if yes then what are bugs in it also how long you are making ROMs

[2022-03-26 08:55] clhexftw commented on #4
@afterallafk well i cant ppl made habits in stock rom so i just gave a fix also they r free to use less than 100%

[2022-03-26 08:56] clhexftw commented on #4
@rockstar5495 well i talked abt it i preapplied to save my time bro (note: i will release publicly only wen build boots and basic stuffs are completely working ) leave this headace on me vmro

[2022-03-26 08:56] BasharatKar commented on #4
@rockstar5495 he is making test build until then application will be on hold

[2022-03-26 08:58] rockstar5495 commented on #4
just send us about phone when booted

[2022-03-26 08:58] afterallafk commented on #4
okay but 100 is much over volume better use 90 or 95

[2022-03-26 09:00] thefaizanbashir commented on #4
@clhexftw unofficial build is necessary before applying na? Where is unofficial build?

[2022-03-26 09:04] thefaizanbashir commented on #4
I can't understand what you did here?
https://github.com/clhexvayulab/android_device_xiaomi_vayu-blaze/commit/bd7308bd517a0081429916d52fa70d14fd1d68f9
@clhexftw

[2022-03-26 09:05] rockstar5495 commented on #4
He just removed GCam Go as Arrow track GCam from their repo so its fine

[2022-03-26 09:06] afterallafk commented on #4
He nuked GcamGo leave it rest is fine

[2022-03-26 09:07] thefaizanbashir commented on #4
GG

[2022-03-26 09:10] clhexftw commented on #4
@rockstar5495 fine XD

[2022-03-26 09:12] clhexftw commented on #4
@thefaizanbashir are i asked abt it on tg already adtiya said okay (it was to save my time ) and as i said testing unofifical and sharing everything is my personal guarantee

[2022-03-26 09:12] clhexftw commented on #4
@afterallafk i nuked gcamgo bcz i will add gcam/opencam in future builds

[2022-03-26 09:13] clhexftw commented on #4
also if u want i will clone gcamgo package and will add it back

[2022-03-26 09:13] thefaizanbashir commented on #4
I understand your concern @clhexftw but when unofficial build will be ready?

[2022-03-26 09:15] clhexftw commented on #4
@thefaizanbashir till tommrow (for sure) i got nfc error otherwise it was today only btw  i shared error logs in grp too aditya checked and fixed it

[2022-03-26 09:16] thefaizanbashir commented on #4
Take your time

[2022-03-27 06:43] BasharatKar commented on #4
Ok Welcome To Our Team

[2022-03-27 06:43] #4 closed, assigned to rockstar5495, anupam41, khirendra03, mrtechnostart, thefaizanbashir, BasharatKar, afterallafk

[2022-03-29 14:19] lynnnnzx opened #5 "New maintainer"
## Device you want to apply for
[code]

## Device tree sources
[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## SELinux status?
[code]

## Are you using a prebuilt kernel? If yes, why?
[code]

## Contact
### Teleg

[2022-03-29 14:22] lynnnnzx opened #6 "Juice maintainer"
## Device you want to apply for
[code]

## Device tree sources
[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## SELinux status?
[code]

## Are you using a prebuilt kernel? If yes, why?
[code]

## Contact
### Teleg

[2022-03-29 14:23] #5 closed

[2022-03-29 14:24] BasharatKar commented on #6
Have you built unofficial build and successfully booted without bugs?

[2022-03-29 14:35] BasharatKar commented on #6
Ok Welcome To Project Blaze

[2022-03-29 14:36] #6 closed, assigned to rockstar5495, anupam41, khirendra03, mrtechnostart, thefaizanbashir, BasharatKar, afterallafk

[2022-03-30 08:29] c0pt4n opened #7 "New maintainer for Lavender"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## SELinux status?
[code]

## Are you using a prebuilt kernel? If yes, why?
[code]

## Contact
### Tele

[2022-03-30 09:03] afterallafk commented on #7
I can't see your common trees as it is not opening

[2022-03-30 09:09] c0pt4n commented on #7
How sir? btw try again it is its link

https://github.com/OmarAlCoptan/device_xiaomi_sdm660-common

[2022-03-30 09:16] afterallafk commented on #7
https://github.com/OmarAlCoptan/device_xiaomi_sdm660-common/commit/ab3dc501943c0e0a29258a7d87bb91ca87ca4b05 this is bad fix you should remove this

[2022-03-30 09:19] c0pt4n commented on #7
Without it , if there is SdCard inserted the recovery gets stuck on recovery logo (OrangeFox) , people should change the recovery into unofficial one(TWRP).
 BTW , if your advice to remove I will do

[2022-03-30 09:20] ghost commented on #7
What server u own? @OmarAlCoptan

[2022-03-30 09:22] afterallafk commented on #7
is there any issue in unofficial recovery?

[2022-03-30 09:22] c0pt4n commented on #7
I use ROM-Builders repo , if the queue is fine , it builds the rom in 1 hr

and these are some of my builds on it

https://cirrus-ci.com/build/6108387636150272

https://cirrus-ci.com/build/5660897971535872

https://cirrus-ci.com/task/5323407091826688

https://cirrus-ci.com/build/6717932574081024

https://cirrus-ci.com/task/6264235448598528

https://cirrus-ci.com/task/4548528151199744

https://cirr

[2022-03-30 09:23] afterallafk commented on #7
Till we don't have ota support u can use roms builders, but once we bring OTA support u must switch to some other servers

[2022-03-30 09:25] c0pt4n commented on #7
Even if ROM builders supported OTA?

[2022-03-30 09:26] afterallafk commented on #7
they create conflicts

[2022-03-30 09:26] ghost commented on #7
Rom builders support ota and u can grab json files easily there

[2022-03-30 09:27] afterallafk commented on #7
ok I will see how u will do once we start giving ota

[2022-03-30 09:28] c0pt4n commented on #7
Not much people love TWRP

[2022-03-30 09:29] c0pt4n commented on #7
OK

[2022-03-30 09:29] afterallafk commented on #7
okay then leave that commit as it is

[2022-03-30 09:29] c0pt4n commented on #7
Okay sir , I tried it on Nusa and PixelOS and no problems

[2022-03-30 09:30] afterallafk commented on #7
Okay No problem , U r selected ur trees seem fine to me

[2022-03-30 09:32] #7 closed, assigned to rockstar5495, anupam41, khirendra03, mrtechnostart, thefaizanbashir, BasharatKar, afterallafk

[2022-03-30 09:32] thefaizanbashir commented on #7
@OmarAlCoptan what's the need of adding Gapps flag? https://github.com/OmarAlCoptan/device_xiaomi_lavender/commit/d5769c7474c3b29c48fc377a2bc38a8ee52145fa

[2022-03-30 09:36] c0pt4n commented on #7
Nice bro

[2022-04-03 18:25] AkashHalder520 opened #8 "New maintainer"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## SELinux status?
[code]

## Are you using a prebuilt kernel? If yes, why?
[code]

## Contact
### Tele

[2022-04-03 18:34] BasharatKar commented on #8
I have checked your trees so can you tell do you have basic knowledge about github? Like cherry picking and authorships?

[2022-04-03 18:43] AkashHalder520 commented on #8
yes for cherry picking
git remote add 'branch' (the branch from you want to pick) 'repo link'
git fetch 'branch'
git cherry-pick 'commit_code'
-Fix conflicts by git status , use (git add) after fixing conflicts
git cherry-pick --continue
git push in branch
authorships-->
git commit--amend --author "username <email>"

[2022-04-03 18:45] BasharatKar commented on #8
Ok fine will contact u when we finish reviewing

[2022-04-03 18:47] #8 closed, assigned to rockstar5495, anupam41, khirendra03, mrtechnostart, thefaizanbashir, BasharatKar, afterallafk

[2022-04-04 13:21] focaccia-pie opened #9 "New maintainer for mido"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## SELinux status?
[code]

## Are you using a prebuilt kernel? If yes, why?
[code]

## Contact
### Tele

[2022-04-04 13:26] BasharatKar commented on #9
Alright trees looks fine wait sometime.

[2022-04-04 13:39] afterallafk commented on #9
https://github.com/Anyinglulu1-Mido-DeviceTree/android_device_xiaomi_mido/commit/90885b747ff0c5f0ec2f9e68bee0302cead98a05  beside this commit why other commits are done for same thing can u explain and u reverted that commit than with the name of fix duplicate?

https://github.com/Anyinglulu1-Mido-DeviceTree/android_device_xiaomi_mido/commit/90885b747ff0c5f0ec2f9e68bee0302cead98a05   this and othe

[2022-04-04 13:41] afterallafk commented on #9
what is this messed up commit https://github.com/Anyinglulu1-Mido-DeviceTree/android_device_xiaomi_mido/commit/1caad5090ce9ab52ea490591db81b9fb4c54080e

[2022-04-04 14:01] focaccia-pie commented on #9
Yeah when I look again the commit I see the are already there in the file and then erase the line , I forget that you can revert that commit, I will not make that mistake again

[2022-04-04 14:02] focaccia-pie commented on #9
I forget to fix conflict

[2022-04-04 14:06] rockstar5495 commented on #9
Sorry to say but your device tree are heavily messed up and some commits don't have proper authorship also we have maintainer for mido already.

[2022-04-04 14:07] khirendra03 commented on #9
You should also know how to fix your git history too.

[2022-04-04 14:09] focaccia-pie commented on #9
Oh ok thank you

[2022-04-04 14:17] khirendra03 commented on #9
You have 5 conflict commits.
Look
- [1](https://github.com/Anyinglulu1-Mido-DeviceTree/android_device_xiaomi_mido/commit/1caad5090ce9ab52ea490591db81b9fb4c54080e)
- [2](https://github.com/Anyinglulu1-Mido-DeviceTree/android_device_xiaomi_mido/commit/5c8e42d93d3be0b5d9dec5ea58f6f59b94754e2f)
- [3](https://github.com/Anyinglulu1-Mido-DeviceTree/android_device_xiaomi_mido/commit/332bbdebaa2013a7d8054

[2022-04-04 14:18] BasharatKar commented on #9
@khirendra03 we have already closed the issue

[2022-04-04 14:18] #9 closed, assigned to rockstar5495, anupam41, khirendra03, mrtechnostart, thefaizanbashir, BasharatKar, afterallafk

[2022-04-12 06:30] BayerischeMotorenWerke opened #10 "Bayerische Motoren Werke"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## SELinux status?
[code]
No.
[code]

[2022-04-12 06:32] BasharatKar commented on #10
When write device name and codename?

[2022-04-12 06:32] ghost commented on #10
@BayerischeMotorenWerke Full information correctly

[2022-04-12 06:36] BayerischeMotorenWerke commented on #10
mia1 tissot
https://github.com/BayerischeMotorenWerke/device_xiaomi_tissot/commits/12.1

[2022-04-12 06:39] BasharatKar commented on #10
Alright welcome

[2022-04-12 06:39] #10 closed, assigned to rockstar5495, anupam41, khirendra03, mrtechnostart, thefaizanbashir, BasharatKar, afterallafk

[2022-04-13 15:03] putraaxyzo opened #11 "New maintainer"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## SELinux status?
[code]

## Are you using a prebuilt kernel? If yes, why?
[code]

## Contact
### Tele

[2022-04-13 16:21] BasharatKar commented on #11
Ok you are accepted welcome to the family

[2022-04-13 16:21] #11 closed, assigned to rockstar5495, anupam41, khirendra03, mrtechnostart, thefaizanbashir, BasharatKar, afterallafk

[2022-04-14 06:02] AbrarNoob opened #12 "New maintainer for Poco F3 (alioth)"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## SELinux status?
[code]

## Are you using a prebuilt kernel? If yes, why?
[code]

## Contact
### Tele

[2022-04-14 06:10] afterallafk commented on #12
Seems everything alright. You tried taking logs for NFC as it is working on Redmi Note 10 Pro & Note 8

[2022-04-14 06:18] AbrarNoob commented on #12
Exam was going on so not tried to flash..tester shifted to another rom.
But i will fix it for sure asap.

[2022-04-14 06:19] afterallafk commented on #12
okay fine

[2022-04-14 06:22] thefaizanbashir commented on #12
Oh My Man @AbrarNoob is here.

[2022-04-14 06:23] thefaizanbashir commented on #12
What's wrong with your NFC @AbrarNoob ?
You took logs?

[2022-04-14 06:25] AbrarNoob commented on #12
Nope..tester flashed he forgot.. recently exam going on so cant flash myself.. but as he has Indian varient and it don't have nfc so me still confused about that.. If it's happening with f3 then will take logs and try to fix .

[2022-04-14 06:27] afterallafk commented on #12
Till then welcome to the team and hope that u will fix NFC soon.

[2022-04-14 06:27] thefaizanbashir commented on #12
Are you Buggs Bunny @AbrarNoob ?

[2022-04-14 06:28] afterallafk commented on #12
yes he is that only he is my friend also

[2022-04-14 06:28] #12 closed, assigned to rockstar5495, anupam41, khirendra03, mrtechnostart, thefaizanbashir, BasharatKar, afterallafk

[2022-04-14 06:29] AbrarNoob commented on #12
Ya..
Me die hard bugs bunny fam😅

[2022-04-19 16:06] aswin11234 opened #13 "New maintainer for a10"
## Device you want to apply for
Galaxy A10
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build

[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]
Enforcing.
[code]
No.
[code]
Your Telegram username
[code]

[2022-04-19 16:09] BasharatKar commented on #13
@aswin11234 No contribution in trees why?

[2022-04-19 16:37] BasharatKar commented on #13
Alright welcome to family

[2022-04-19 16:37] #13 closed, assigned to rockstar5495, anupam41, khirendra03, mrtechnostart, thefaizanbashir, BasharatKar, afterallafk

[2022-05-02 10:26] insanejr opened #14 "New maintainer"
## Device you want to apply for
**DEVICE**:MOTO G9 PLUS
**CODENAME**:ODESSA
**MANUFACTURER**:MOTOROLA

## Device tree sources

**TREE DEVICE**
https://github.com/insanejr/android_device_motorola_odessa
**TREE KERNEL**
https://github.com/insanejr/android_kernel_motorola_sm6150
**VENDOR TREE**
https://github.com/insanejr/proprietary_vendor_motorola

## Link to the platform where you have released yo

[2022-05-02 10:34] BasharatKar commented on #14
I don't see any contribution in trees

[2022-05-02 16:39] ghost commented on #14
True

[2022-05-02 16:43] afterallafk commented on #14
How u made official build u kanged our source?

[2022-05-02 17:03] SKORPION29 opened #15 "New maintainer"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## SELinux status?
[code]

## Are you using a prebuilt kernel? If yes, why?
[code]

## Contact
### Tele

[2022-05-02 17:05] BasharatKar commented on #15
You don't have proper authorships not even in a single commit

[2022-05-02 17:07] SKORPION29 commented on #15
check branch twelve, i just switched to new branch recently

[2022-05-02 17:14] BasharatKar commented on #15
I can't see any authorships u gave

[2022-05-02 18:28] thefaizanbashir commented on #15
@SKORPION29 lmao, are you using browser to commit? And you're just kanging commits, please learn git first & give proper authorships. You can apply later.

[2022-05-02 18:29] afterallafk commented on #15
@thefaizanbashir i talked to him community group u can checkout he said he will fix in an hour

[2022-05-02 18:49] #14 closed, assigned to mrtechnostart, BasharatKar, afterallafk

[2022-05-02 19:38] afterallafk commented on #15
Ok u r in

[2022-05-02 19:38] #15 closed, assigned to mrtechnostart, BasharatKar, afterallafk

[2022-05-02 19:40] SKORPION29 commented on #15
Thanks. Glad to be a part of the team

[2022-05-04 07:31] Musical143143 opened #16 "New maintainer"
## Device you want to apply for
[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]
https://t.me/A12_miA3
## Bugs on unofficial build
[code]
None
## How long have you been building for?
[code]
Months
## SELinux status?
[code]
Enforcing
## Are you using a prebuilt kernel? If yes, why?
[code]
No
## Contac

[2022-05-04 07:46] rockstar5495 commented on #16
Your device tree seems to be adapted for Cherish where is Blaze. Also you haven't mentioned since how long you are maintaining and which bugs are there if any. If you have released any unofficial Blaze then share link here for the post.

[2022-05-04 07:48] Musical143143 commented on #16
Yes am maintaining cherish official and no bug and am building rom from 6
moths ago

On Wed, 4 May, 2022, 1:16 pm Pratyaksh Bharadwaj, ***@***.***>
wrote:

[2022-05-04 07:49] Musical143143 commented on #16
Just showed my dt if u accept my request then I will create new blaze -b

On Wed, 4 May, 2022, 1:18 pm BASAVARAJ BHAJANTRI, ***@***.***>
wrote:

[2022-05-04 07:51] rockstar5495 commented on #16
Release unofficial build for Blaze then share us screenshot of about section and then again apply with blaze trees.

[2022-05-04 07:52] rockstar5495 commented on #16
Till then we are holding your maintainership.

[2022-05-04 07:52] #16 closed, assigned to rockstar5495, anupam41, khirendra03, mrtechnostart, BasharatKar, afterallafk, clhexftw

[2022-05-04 07:52] Musical143143 commented on #16
Ok, will do that.

On Wed, 4 May, 2022, 1:21 pm Pratyaksh Bharadwaj, ***@***.***>
wrote:

[2022-05-04 07:53] Musical143143 commented on #16
Thank you for your response.

On Wed, 4 May, 2022, 1:22 pm Pratyaksh Bharadwaj, ***@***.***>
wrote:

[2022-05-04 17:40] BasharatKar commented on #16
Alright you are accepted

[2022-05-10 08:17] EvilAnsh opened #17 "New maintainer for Redmi 4X"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## SELinux status?
[code]

## Are you using a prebuilt kernel? If yes, why?
[code]

## Contact
### Tele

[2022-05-10 08:26] afterallafk commented on #17
Your Trees Looks fine

[2022-05-10 08:26] afterallafk commented on #17
Authorships are also there no issues

[2022-05-10 08:29] EvilAnsh commented on #17
So, I'm in sir?

[2022-05-10 08:29] clhexftw commented on #17
looks fine too me

[2022-05-10 08:32] BasharatKar commented on #17
You are accepted

[2022-05-10 08:32] #17 closed, assigned to rockstar5495, anupam41, khirendra03, mrtechnostart, BasharatKar, afterallafk

[2022-05-15 04:36] ghost opened #18 "New maintainer"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]
None
[code]
Months
[code]
Enforcing
[code]
No
[code]
Iris041
[code]

[2022-05-15 08:37] BasharatKar commented on #18
Welcome

[2022-05-15 08:37] #18 closed, assigned to rockstar5495, anupam41, khirendra03, mrtechnostart, BasharatKar, afterallafk

[2022-05-15 08:37] ghost commented on #18
@BasharatKar WeW

[2022-05-15 08:55] rockstar5495 commented on #18
Why so much unofficial

[2022-05-18 10:30] JaswantTeja opened #19 "New maintainer - r5x"
## Device you want to apply for
Realme 5/5i/5s (unified)-r5x
[code]
Realme 5i (RMX2030)
## Device tree sources
[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## SELinux status?
[code]

## Are you using a prebuilt k

[2022-05-18 10:38] JaswantTeja commented on #19
That Is K Bro. KharaMe

[2022-05-18 10:39] BasharatKar commented on #19
@JaswantTeja Trees look fine though

[2022-05-18 10:39] rockstar5495 commented on #19
@JaswantTeja Fix your device trees i have commented on commit. Then apply again

[2022-05-18 10:41] rockstar5495 commented on #19
Just fix last 3 commits rest is fine.

[2022-05-18 13:46] JaswantTeja commented on #19
Check Again Sir

[2022-05-18 13:47] BasharatKar commented on #19
@JaswantTeja Looks fine now

[2022-05-18 13:48] JaswantTeja commented on #19
Ok Sir Can You discuss with your team and tell me what's your response.

[2022-05-18 13:49] BasharatKar commented on #19
@JaswantTeja Yeah we will be back soon

[2022-05-18 13:50] JaswantTeja commented on #19
Okay thank you sir waiting for your response hoping that I was selected for this.

[2022-05-18 14:00] rockstar5495 commented on #19
Check your device trees still bringup not proper.

[2022-05-18 14:07] ghost commented on #19
can you explain why you have 2 device make files?

[2022-05-18 14:31] BasharatKar commented on #19
Better luck next time

[2022-05-18 14:31] #19 closed, assigned to rockstar5495, anupam41, khirendra03, mrtechnostart, BasharatKar, afterallafk

[2022-05-18 17:48] JaswantTeja opened #20 "New maintainer"
## Device you want to apply for
Realme 5/5i/5s (unified)-r5x
[code]
Realme 5i (RMX2030)
## Device tree sources
[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## SELinux status?
[code]

## Are you using a prebuilt k

[2022-05-18 17:55] ganesh314159 commented on #20
first of all, make one unofficial build, publish it and also take logs while building, if you don't know how to take log, just put >> build.log after make bacon command. next time apply with build logs, now bye.

[2022-05-19 00:53] JaswantTeja commented on #20
I Have Bulid And The Logs Too
Go Thru This Bro👇
https://api.cirrus-ci.com/v1/task/4877750581329920/logs/build.log

[2022-05-20 05:33] Pc1598 opened #21 "New maintainer for raphael"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## SELinux status?
[code]

## Are you using a prebuilt kernel? If yes, why?
[code]

## Contact
### Tele

[2022-05-20 05:44] rockstar5495 commented on #21
@Pc1598 @afterallafk Basharat ask him whether NFC fixed or not

[2022-05-20 05:45] rockstar5495 commented on #21
Is NFC fixed or not

[2022-05-20 05:51] ghost commented on #21
@Pc1598 In your device tree, why you didn't gave authorship to @rockstar5495 if you didn't fixed on your own?

[2022-05-20 05:58] Pc1598 commented on #21
I gave authorship to him for first 2 but sepolicy for my device is quite
different from his so i cherry-pick would just say bad object so i had to
change directory and stuff and that would complicate things so i just added
it myself and thanked him in note.

On Fri, 20 May, 2022, 11:22 am Ganesh mahadev aher, <
***@***.***> wrote:

[2022-05-20 06:00] ghost commented on #21
@Pc1598 You know you can give authorship through command too right?

[2022-05-20 06:51] JaswantTeja commented on #20
Today I Made One Bulid(GAPPS). As The Team Told Me To Bulid 1.2. So Closing This Now And Keep This Device Hold For Me Bro.
Tq

[2022-05-20 06:51] #20 closed

[2022-05-20 08:35] Pc1598 commented on #21
Well i have given it now

[2022-05-20 08:51] ghost commented on #21
Ok, your trees looks fine now. @BasharatKar Please have a look.

[2022-05-20 08:56] BasharatKar commented on #21
You are accepted

[2022-05-20 08:56] #21 closed, assigned to rockstar5495, anupam41, khirendra03, mrtechnostart, BasharatKar, afterallafk

[2022-06-03 14:38] ritvik-ch opened #22 "New maintainer (Vince) Redmi 5 Plus"
Unofficial Build Download link- https://roms.cirrus-ci.workers.dev/0:/vince/Blaze-v1.1-vince-20220603-1205-VANILLA-UNOFFICIAL.zip

Maintaining Blaze Since- A week

Bugs- Vilte (no fix till now)

Roms Currently maintaining- VoltageOS (official)

Telegram Username -
@ritvik_ch
(Ritvik)

Selinux Status -
Enforcing

CTS-
Passing

Device Sources-
DT-
https://github.com/ritvik-ch/device_xiaomi_vince/tre

[2022-06-03 14:57] BasharatKar commented on #22
How much time you have been building

[2022-06-03 15:11] ritvik-ch commented on #22
5 months almost

On Fri, Jun 3, 2022, 8:28 PM BasharatKar ***@***.***> wrote:

[2022-06-03 15:13] BasharatKar commented on #22
Ok Fine

[2022-06-03 15:24] BasharatKar commented on #22
You are accepted

[2022-06-03 15:24] #22 closed

[2022-06-10 10:07] blazey66 opened #23 "New maintainer"
## Device you want to apply for
Redmi 8/8A/8A Dual
Your device name and codename
Olives

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]
Insert here
...

## Bugs on unofficial build
[code]
4 months

## SELinux status?
[code]
No.

## Contact
### Telegram username
...
Your Telegram username
@blazey66

[2022-06-10 10:10] rockstar5495 commented on #23
Which ROM you are doing beside this

[2022-06-10 10:11] blazey66 commented on #23
None officaly but Havoc unofficially

[2022-06-10 10:14] rockstar5495 commented on #23
Do you have knowledge of cherry-pick, git merge and other basic commands

[2022-06-10 10:15] rockstar5495 commented on #23
Also how to amend a commit

[2022-06-10 10:15] blazey66 commented on #23
yeah

[2022-06-10 10:16] rockstar5495 commented on #23
Ok

[2022-06-10 10:17] blazey66 commented on #23
yes sir

[2022-06-10 10:20] rockstar5495 commented on #23
How will you merge Linux/CAF tag in kernel

[2022-06-10 10:23] blazey66 commented on #23
I don't maintain kernel. but i do know how to upstream kernel version

[2022-06-10 10:23] rockstar5495 commented on #23
Ok

[2022-06-10 10:24] rockstar5495 commented on #23
Any timeline for QR code bug till when it will get fixed

[2022-06-10 10:25] rockstar5495 commented on #23
How many unofficial builds you have made for blaze

[2022-06-10 10:26] blazey66 commented on #23
No idea

[2022-06-10 10:26] blazey66 commented on #23
1

[2022-06-10 10:27] rockstar5495 commented on #23
Ok fine will let you know

[2022-06-10 10:30] #23 closed, assigned to rockstar5495, anupam41, mrtechnostart, BasharatKar, afterallafk

[2022-06-12 11:38] JaswantTeja opened #24 "New Maintainer for r5x"
## Device you want to apply for
[code]
## Your device name and codename
[code]

## Device tree sources
[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## SELinux status?
[code]

## Are you using a prebuilt kernel? I

[2022-06-12 11:59] ritvik-ch commented on #24
@JaswantTeja You know git basics?

[2022-06-12 12:00] afterallafk commented on #24
@JaswantTeja dammn u r building from 65 days u should have applied on 69th day

[2022-06-12 12:01] JaswantTeja commented on #24
Yeah I Know The Git

[2022-06-12 12:01] afterallafk commented on #24
@JaswantTeja build error de ccache ka

[2022-06-12 12:02] ritvik-ch commented on #24
@JaswantTeja Can I ask a simple question?

[2022-06-12 12:09] JaswantTeja commented on #24
Shit 😂 I Missed The 🙂 Sir

[2022-06-12 12:10] JaswantTeja commented on #24
Ofc 😅

[2022-06-12 12:10] ritvik-ch commented on #24
@JaswantTeja What command will you use in git to switch and create new branches of a repository?

[2022-06-12 12:11] JaswantTeja commented on #24
git branch to make
git checkout or git switch to change

[2022-06-12 12:12] ritvik-ch commented on #24
@JaswantTeja Do you how to rebase, merge etc?

[2022-06-12 12:15] JaswantTeja commented on #24
git rebase -i HEAD~ To Rebase

git merge branchname

[2022-06-12 12:17] afterallafk commented on #24
@JaswantTeja tell me how to bringup a dt for rom

[2022-06-12 12:22] JaswantTeja commented on #24
LOL The Reason Why I Was Rejected In Before In The v1.1 Update

* Do Changes In AndroidProducts,change the name of rom_r5x,change the name of dependencies

*Add The Maintainer String

*Add The Things Related To Rom

Can See The Bringup Of Blaze

https://github.com/JaswantTeja/device_realme_r5x/commit/67e1cdc99f7563719e6ff18447a066029ae23578

[2022-06-12 12:23] ritvik-ch commented on #24
@JaswantTeja Hmm good let me inspect your device trees now

[2022-06-12 12:23] SKORPION29 commented on #24
@ritvik-ch Will you be able to fix your device side bugs?

[2022-06-12 12:23] JaswantTeja commented on #24
Welcome To My Device 🎄 Sarr

[2022-06-12 12:26] JaswantTeja commented on #24
Ofc Will Try Maximum

[2022-06-12 12:28] JaswantTeja commented on #24
And That's not The Question to @ritvik-ch That's The Question For Me Coz Now I'm Applying

[2022-06-12 12:29] SKORPION29 commented on #24
@JaswantTeja Yeah asking you only

[2022-06-12 12:30] afterallafk commented on #24
whatever better give answers what we asked don't give extra suggestions or try to act oversmart

[2022-06-12 12:31] JaswantTeja commented on #24
Lol You Mentioned Him. Anyways I Answered That Sir

[2022-06-12 12:31] SKORPION29 commented on #24
@JaswantTeja Why do you have dependencies in your dt? Are those needed?

[2022-06-12 12:31] afterallafk commented on #24
@JaswantTeja no need r u kid acting like immature u can ignore also

[2022-06-12 12:32] afterallafk commented on #24
@afterallafk How to fix ccache error?

[2022-06-12 12:32] afterallafk commented on #24
@afterallafk reply in 1 min

[2022-06-12 12:33] afterallafk commented on #24
How to fix ccache error?

[2022-06-12 12:35] JaswantTeja commented on #24
Yes They are Important Sir.

[2022-06-12 12:36] afterallafk commented on #24
Tell me that importance i don't have any dependency in my dt.

[2022-06-12 12:36] ritvik-ch commented on #24
@JaswantTeja Yes for what?

[2022-06-12 12:36] JaswantTeja commented on #24
cd ../..
sudo umount /mnt/ccache
sudo rm -rf /mnt/ccache

sudo mkdir /mnt/ccache && sudo mount --bind /home/<instance name or username of ur instance>/.ccache /mnt/ccache

export USECCACHE=1 && export CCACHEEXEC=/usr/bin/ccache && export CCACHE_DIR=/mnt/ccache && ccache -M 100G

[2022-06-12 12:37] afterallafk commented on #24
@JaswantTeja I have asked u in 1min it's 2 min

[2022-06-12 12:37] JaswantTeja commented on #24
To Get the Kernel And Blobs In The Vendor Which Are In The Android 11 Sir

[2022-06-12 12:37] afterallafk commented on #24
@JaswantTeja why googled?

[2022-06-12 12:38] JaswantTeja commented on #24
Lol Not Googled One Person Told Me A Long Ago About This When I Got The Error Sir!

[2022-06-12 12:39] afterallafk commented on #24
@JaswantTeja My DT is also A11 base still no dependency and still i am able to build with kernel and vendor blobs with your reason my build should have failed? right

[2022-06-12 12:44] BasharatKar commented on #24
You are Rejected Go Get Some More Knowledge Better luck next time

[2022-06-12 14:14] rockstar5495 commented on #24
It shouldn't be an issue whether device has dependencies or not .

[2022-06-12 14:16] JaswantTeja commented on #24
But That Is Not My Original Tree . I Forked From My Device Org And I Know That Dependencies are Needed To Fullfil The Required Things.

[2022-06-12 14:18] afterallafk commented on #24
@JaswantTeja to fulfill which requirements

[2022-06-12 14:21] JaswantTeja commented on #24
To Run The Bulid In Jenkins Sir Which Also Be Called As Req To Run The Bulid In Jenkins

[2022-06-12 14:42] afterallafk commented on #24
@JaswantTeja u use cirrus or jenkins?

[2022-06-12 14:59] JaswantTeja commented on #24
I Use The Cirrus Ci Sir. I'm also a Team Member of Rom Buliders By Apon Sir

[2022-06-12 15:11] JaswantTeja commented on #24
In final words , what you guys are going to tell??
Is i'm accepted or rejected?
Thank You guys.

[2022-06-12 16:32] afterallafk commented on #24
We will inform you soon

[2022-06-13 13:33] BasharatKar commented on #24
You are Accepted

[2022-06-13 13:33] #24 closed

[2022-06-13 17:23] JaswantTeja commented on #24
Tqs For Everything Firstly Sir. Will Not Apply Again for the Maintainership

@rockstar5495 @anupam41 @TechnoStartOfficial @BasharatKar Tq Guys 👍

[2022-06-13 17:26] JaswantTeja commented on #24
Okay Thanks For The Suggestion.

[2022-06-14 13:42] Subratam6296 opened #25 "New maintainer"
## Device you want to apply for
[code]
Redmi Note 7 Pro ( Violet )

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## SELinux status?
[code]

## Are you using a prebuilt kernel? If yes, why?

[2022-06-14 13:50] afterallafk commented on #25
Your trees look fine and ok from my side and your experience is being shown in your trees

[2022-06-14 13:53] BasharatKar commented on #25
Welcome To Team

[2022-06-14 13:53] #25 closed, assigned to rockstar5495, anupam41, mrtechnostart, BasharatKar, afterallafk

[2022-06-14 13:55] Subratam6296 commented on #25
Thanks

[2022-06-20 08:25] Lambada10 opened #26 "New maintainer for Poco x3 pro (vayu)"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## SELinux status?
[code]

## Are you using a prebuilt kernel? If yes, why?
[code]

## Contact
### Tele

[2022-06-20 14:22] BasharatKar commented on #26
You are approved

[2022-06-20 14:22] #26 closed, assigned to rockstar5495, mrtechnostart, BasharatKar, afterallafk

[2022-07-09 01:39] ghost opened #27 "New maintainer"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## SELinux status?
[code]

## Are you using a prebuilt kernel? If yes, why?
[code]

## Contact
### Tele

[2022-07-09 09:56] afterallafk commented on #27
Ok ! please specify how many officials you have with rom name  as I can see so many roms?

[2022-07-09 09:59] afterallafk commented on #27
Have you made unofficial build of Project Blaze earlier and is your 1 month time completed as per the terms and conditions?

[2022-07-09 10:03] afterallafk commented on #27
Why so much less contribution on your trees and seems like you were inactive earlier but you are mentioning that you are building from past 9 months?

[2022-07-09 14:47] ghost commented on #27
Im sorry but Im not yet try for buld project blaze ,because before that someone had already built an unofficial projectblaze for the redmi note 8 pro, so I don't think it's ethical to build it too.

[2022-07-09 14:48] afterallafk commented on #27
@ryuKizuha ok from my side your trees are okay to me

[2022-07-09 14:49] ghost commented on #27
when on redmi 9t i built too many roms and after that i changed my cellphone to sony xperia for quite a long time sir

[2022-07-09 14:50] ghost commented on #27
thank you sir , I appreciate that

[2022-07-09 16:21] BasharatKar commented on #27
Accepted

[2022-07-09 16:21] #27 closed, assigned to rockstar5495, mrtechnostart, BasharatKar, afterallafk

[2022-07-11 06:36] orkunergun opened #28 "New maintainer"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## SELinux status?
[code]

## Are you using a prebuilt kernel? If yes, why?
[code]

## Contact
### Tele

[2022-07-11 06:48] afterallafk commented on #28
Fine , but move your trees to github it's easy to handle there and also easy to user to checkout as gitlab is little bit complex

[2022-07-11 06:56] orkunergun commented on #28
Will I be accepted when I do this?

[2022-07-11 07:18] orkunergun commented on #28
Moved to GitHub rn https://GitHub.com/MT6768

[2022-07-11 07:20] rockstar5495 commented on #28
@orkunergun use proper naming convention for your device tree, common tree, vendor tree also if possible put in your own repo instead of org

[2022-07-11 07:30] orkunergun commented on #28
Organization is good for me But I will do this too

[2022-07-11 07:34] orkunergun commented on #28
I renamed this repos now
Also I want to use organization because it looks more organized

[2022-07-12 07:45] ghost opened #29 "New maintainer"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## SELinux status?
[code]

## Are you using a prebuilt kernel? If yes, why?
[code]

## Contact
### Tele

[2022-07-12 07:59] afterallafk commented on #29
This is kanging bro and u are mentioning that you are building from 1 year you kanged your trees

[2022-07-12 08:14] ghost commented on #29
sorry I didn't focus on reading, this is the device tree from pm salmankhan and reworked it again and fixed the bugs in the device tree, and I will also mention credit for it later

[2022-07-12 08:48] afterallafk commented on #28
@orkunergun From my side it is Accepted

[2022-07-12 09:47] orkunergun commented on #28
Okey thanks 👍 Waiting for other devs

[2022-07-12 09:50] BasharatKar commented on #28
Accepted

[2022-07-12 09:50] #28 closed, assigned to rockstar5495, mrtechnostart, BasharatKar, afterallafk

[2022-07-14 06:18] #29 closed, assigned to rockstar5495, mrtechnostart, BasharatKar, afterallafk

[2022-07-14 06:19] ghost commented on #29
I will close it later after 3-4 months I will open again

[2022-07-14 16:52] sayann70 opened #30 "New maintainer for Redmi Note 11"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## SELinux status?
[code]

## Are you using a prebuilt kernel? If yes, why?
[code]

## Contact
### Tele

[2022-07-14 17:12] BasharatKar commented on #30
Trees looks fine with proper authorships

[2022-07-15 05:38] afterallafk commented on #30
Your trees are fine. Now answer some questions
How to give authorships regardless of cherry-pick?

[2022-07-15 06:49] sayann70 commented on #30
as far as i know, when we cherry-pick authorship gets generated automatically, from the commit it was picked from.

[2022-07-15 06:59] afterallafk commented on #30
ok no problem not a big issue you will learn as far you get experience. Can you tell me how to find the author details of a commit means it's github username and email ?

[2022-07-15 07:14] sayann70 commented on #30
if we use "git show < commit id >" then it will show authors username and email

[2022-07-15 07:16] afterallafk commented on #30
great another easy method is also there i will tell u later if you were accepted in team

[2022-07-15 07:24] BasharatKar commented on #30
You are good so far

[2022-07-15 07:24] BasharatKar commented on #30
You are accepted

[2022-07-15 07:24] #30 closed, assigned to rockstar5495, mrtechnostart, BasharatKar, afterallafk

[2022-07-16 00:41] JaswantTeja opened #31 "New maintainer"
## Device you want to apply for
[code]

## Your device name and codename
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## SELinux status?
[code]

## Are you using a prebuilt kernel?

[2022-07-16 02:56] mrtechnostart commented on #31
https://github.com/JaswantTeja/device_realme_r5x/commit/0d4447436a018629c21a4aacc4c31098897adf6f#diff-247ee86229a709a6e2eedfc1d3c4a557825aee073e20b0112ab76f4ca8e4bc4eR353

What say About this one bro?

[2022-07-16 02:57] mrtechnostart commented on #31
You didn't even resolved conflicts properly, do git reset and pick last of your both commit again

[2022-07-16 07:32] JaswantTeja commented on #31
I Didn't Saw That Sorry,I will resolve Confilcts

[2022-07-16 07:33] JaswantTeja commented on #31
And Also That's 12.1 Branch,so Please Go Through Blaze

[2022-07-16 08:27] mrtechnostart commented on #31
Firstly make blaze as your default branch, rest for me everything seems good, now basharat will take final calls

[2022-07-16 08:40] mrtechnostart commented on #31
After discussing with team, you are considered accepted

[2022-07-16 08:40] #31 closed, assigned to rockstar5495, mrtechnostart, BasharatKar, afterallafk

[2022-08-10 09:30] beingashwani opened #32 "New maintainer"
## Device you want to apply for
[code]
https://github.com/user/device_brand_codename
https://github.com/user/kernel_brand_codename
https://github.com/user/vendor_brand_codename
[code]
Insert here
[code]
None
[code]

## Are you using a prebuilt kernel? If yes, why?
[code]

## Contact
### Telegram username
[code]

[2022-08-10 11:00] BasharatKar commented on #32
@Techy0302 U haven't done any contribution in trees

[2022-08-10 13:17] beingashwani commented on #32
Bro i have this devices very new thats why no contributions..

[2022-08-11 07:06] afterallafk commented on #32
which device is this?

[2022-08-11 07:08] beingashwani commented on #32
Realme 5 pro.. RMX1971

[2022-08-11 07:09] afterallafk commented on #32
old maintainer was having bootloop issues after rebooting did u tried this u have this issue or not.

[2022-08-11 07:14] beingashwani commented on #32
Nope bro i didnt faced...might be he was using kernel version which are older as this issue was occured in a kernel version which was not recommended to build with.

[2022-08-11 07:14] afterallafk commented on #32
ok nice when u build latest?

[2022-08-11 07:18] beingashwani commented on #32
U m i did before 1 or 2 weeks thats also eng build...i will do a build today itself with latest source..

[2022-08-11 07:31] afterallafk commented on #32
ok after you complete build then check the issue once for our confirmation. Then we will proceed further.

[2022-08-11 08:01] beingashwani commented on #32
Ok bro sure

[2022-08-11 10:18] qwertyuiii-code opened #33 "New maintainer chime"
## Device you want to apply for
PocoM3/Redmi9T
## Device tree sources

https://gitlab.com/chimeOSS/device_xiaomi_chime
https://github.com/qwertyuiii-code/kernel_xiaomi_chime-1
https://github.com/chimeOSS/vendor_xiaomi_chime
[code]

[2022-08-11 10:22] BasharatKar commented on #33
Push your trees to github rather than gitlab

[2022-08-11 10:45] afterallafk commented on #33
And no contributions of yours i can only see conquer os lead's contributions where are your commits?

[2022-08-11 15:04] qwertyuiii-code commented on #33
Its dt based on tool for lineage os and for the most part, we invest in the vendor, updating it, thereby eliminating bugs that "climb out" when used, which the testers did not tell us about or did not find.

[2022-08-11 15:12] qwertyuiii-code commented on #33
Vendor source we cant push on github (big size)

[2022-08-11 16:52] BasharatKar commented on #33
You are accepted

[2022-08-11 16:52] #33 closed, assigned to rockstar5495, mrtechnostart, BasharatKar, afterallafk

[2022-10-06 12:18] c0pt4n commented on #32
Did u do the build?

[2022-10-06 13:25] #32 closed, assigned to rockstar5495, mrtechnostart, BasharatKar, afterallafk

[2022-10-07 03:48] kj0605 opened #34 "New maintainer"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## SELinux status?
[code]

## Are you using a prebuilt kernel? If yes, why?
[code]

## Contact
### Tele

[2022-10-07 07:51] c0pt4n commented on #34
How will you rate yourself inn Git?

[2022-10-07 08:00] kj0605 commented on #34
I would not say I know everything about git but according to my knowledge
which I gained past 3 months during compiling diffrent roms,  I would rate
myself as 3/5

On Fri, 7 Oct, 2022, 1:21 pm Omar Coptan, ***@***.***> wrote:

[2022-10-07 09:39] c0pt4n commented on #34
then u know about cherry-picking, fetching , pushing , fixing conflicts??
also there are some more advanced features but let's start with these atleast

[2022-10-07 09:41] kj0605 commented on #34
Yes ,I have already used these cmnds. They come into use many times

On Fri, 7 Oct, 2022, 3:09 pm Omar Coptan, ***@***.***> wrote:

[2022-10-07 11:08] c0pt4n commented on #34
How long have u been maintaining Spark?

[2022-10-07 11:12] kj0605 commented on #34
I made V12.6 Spark which was last A12l build
After that V13.0 ( initial build)
Maintaining it unofficially

On Fri, 7 Oct, 2022, 4:38 pm Omar Coptan, ***@***.***> wrote:

[2022-10-07 11:12] c0pt4n commented on #34
didn't make any official rom?

[2022-10-07 11:15] kj0605 commented on #34
Never applied for Official for any rom yet. Blaze is the first one I'm
applying for.

On Fri, 7 Oct, 2022, 4:43 pm Omar Coptan, ***@***.***> wrote:

[2022-10-07 11:21] c0pt4n commented on #34
Okay , I think it is fine now , I can say WELCOME TO BLAZE
but keep in mind that trees are reviewed frequently , also maintainers behaviors can be taken in mind also , WE DON'T LIKE TOXICITY,

WELCOME

[2022-10-07 11:22] #34 closed, assigned to rockstar5495, BasharatKar, c0pt4n, afterallafk

[2022-10-07 11:24] kj0605 commented on #34
Thank you!

[2022-10-11 06:58] Pc1598 commented on #21
Yes i do now i will do it right way now then👍

On Fri, 20 May, 2022, 11:30 am Ganesh mahadev aher, <
***@***.***> wrote:

[2022-10-17 14:38] SKetU-l opened #35 "SKetU maintainer"
## Device you want to apply for
[code]
https://github.com/SKetU-l/device_asus/tree/blaze
https://github.com/SKetU-l/android_kernel_asus_sdm660
https://github.com/SKetU-l/vendor_asus
https://github.com/SKetU-l/android_device_asus_sdm660-common
[code]
Insert here
[code]
Insert here
[code]
None
[code]
Weeks/Months/Years
[code]
Enforcing.
[code]
Yes so lazy to make own also noob
[code]

[2022-10-17 19:38] c0pt4n commented on #35
after first look seems u still need some learning , learn more and feel free to apply when u have experience
GOOD LUCK

[2022-10-17 19:38] #35 closed, assigned to rockstar5495, BasharatKar, c0pt4n, afterallafk

[2022-10-18 03:56] SKetU-l commented on #35
Whatever thanks you for responding I know am not eligible

[2022-10-28 07:11] akmacc opened #36 "New maintainer"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## SELinux status?
[code]

## Are you using a prebuilt kernel? If yes, why?
[code]

## Contact

[code]

[2022-10-28 07:16] afterallafk commented on #36
https://github.com/akmacc/blaze_device_realme_x3/commit/724aaaecba3d04515ec35dd9c6af1aacfdfc7e17 what do you mean by adopt ? It's bringup and there's a typo error at one point correct it

[2022-10-28 07:18] afterallafk commented on #36
https://github.com/akmacc/blaze_device_realme_x3/commit/93774c36a8ae214057d73d7a8cf96e4cf454959d
https://github.com/akmacc/blaze_device_realme_x3/commit/4d13bc2bb498e8187be177fd783f7d3e8cc26c37
https://github.com/akmacc/blaze_device_realme_x3/commit/22ad5e02f306d45921c1367de6592bc15dc7c239

You can squash these three commits in one as it is related to gcam go only. So, it's better squash them rath

[2022-10-28 10:16] afterallafk commented on #36
you have mentioned you have been unofficially maintaining derpfest. So, have you build blaze before applying and fulfilled condition of maintaining blaze 1 months and where is the unofficial build release platform?

[2022-10-28 10:52] akmacc commented on #36
Hi could you please check again

[2022-10-28 10:54] afterallafk commented on #36
ohh Okay we found your unofficial build post.

[2022-10-28 15:13] afterallafk commented on #36
Ok you are accepted. Welcome to the team ! Enjoy your Journey with us.

[2022-10-28 15:14] #36 closed, assigned to rockstar5495, mrtechnostart, BasharatKar, c0pt4n, afterallafk

[2022-10-28 15:30] akmacc commented on #36
Thanks

[2022-10-28 16:22] qwertyuiii-code commented on #36
welcome bro

[2022-11-11 19:47] Sachin9822 opened #37 "New maintainer"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## SELinux status?
[code]

## Are you using a prebuilt kernel? If yes, why?
[code]

## Contact
### Tele

[2022-11-11 19:51] c0pt4n commented on #37
@Sachin9822 nice

[2022-11-14 06:12] afterallafk commented on #37
@Sachin9822 by looking your trees it looks like you don't have git knowledge. Please learn the following git commit, cherrypick , authorship etc.

[2022-11-14 06:15] c0pt4n commented on #37
@afterallafk nice

[2022-11-16 16:20] Sachin9822 commented on #37
@afterallafk
now i learn cherrypick and authorship
check git Device tree

[2022-11-16 16:33] afterallafk commented on #37
https://github.com/Sachin9822/android_device_xiaomi_tissot/commit/a00fe796aaa46b0c029967342e55a71569c21f10
https://github.com/Sachin9822/android_device_xiaomi_tissot/commit/4833f695ab02802313e10bb1ec992a0d602f66e7
https://github.com/Sachin9822/android_device_xiaomi_tissot/commit/2190bf0303d3c91d79757a234eeda48d36b6a86e
https://github.com/Sachin9822/android_device_xiaomi_tissot/commit/f9e64fcd52987

[2022-11-16 16:35] c0pt4n commented on #37
how to do cherry-pick?

[2022-11-16 16:40] afterallafk commented on #37
https://github.com/Sachin9822/device_xiaomi_msm8953-common/commits/ProjectBlaze
cleanup this too i mean your common tree

[2022-11-16 17:35] Sachin9822 commented on #37
i now check i have already removed the pixel launcher
and have built V2.1 version and using it

[2022-11-16 17:36] orkunergun commented on #37
U need to remove commits

[2022-11-16 17:40] afterallafk commented on #37
cleanup means not to commit cleanup it means you need to clean your dt and remove useless commits which were marked to you.

[2022-11-16 17:41] orkunergun68 commented on #37
@afterallafk 👍👍👍👍

[2022-11-16 18:12] Sachin9822 commented on #37
Done

[2022-11-16 18:13] Sachin9822 commented on #37
Done

[2022-11-16 18:26] afterallafk commented on #37
https://github.com/Sachin9822/android_device_xiaomi_tissot/commit/ef12570b1e868ee95101b30414e0661bb61fd6e3#diff-681043dd2ca646ba77443003ccc1003e07fbbae38a896e780f041ea167c7a2e6R23 here B should be small and bringup does not requires author. Do those commits which were earlier.

[2022-11-16 18:53] Sachin9822 commented on #37
ok made the changes

[2022-11-16 19:16] Sachin9822 commented on #37
first -
`git remote add any_name REPO_LINK`
 `git fetch any_name`
`git cherry-pick COMMIT_HASH`

[2022-11-16 19:36] afterallafk commented on #37
ok tell me i am giving you a situation. Suppose your device got wifi issues that wifi is not working. How would you fix it? Will you change the tree or will you try fixing it in the current tree? Also what procedure will you follow to fix this issue?

[2022-11-16 19:45] c0pt4n commented on #37
I will put this applicant on hold until we release v2.2 after that u can comment here with your published build link
BUT KEEP IN MIND THAT YOUR DT SHOULD BE IMPROVED SO THAT WE CAN MAKE SURE YOU KNOW ENOUGH GIT...
GOOD LUCK

[2022-11-16 20:00] Sachin9822 commented on #37
fixing it in current tree
Procedure:
take logs find the error and will try to search it on google and try to find commit to fix it

[2022-11-16 20:01] Sachin9822 commented on #37
ok sure

[2022-11-17 10:33] afterallafk commented on #37
why to search on google when github is available for developers?

[2022-11-17 11:32] Sachin9822 commented on #37
yea you are right searching on GitHub would give me better results